/**
 * SCSS color scheme for the billy theme
 *
 * @package Ghost
 * @subpackage Plattan
 * @since Plattan 1.0
 */

$light: #fafaf9;
$dark: #111111;

$color-1: #ef9db8;
$color-2: #a9a9a9;

@import "../style";