/**
 * SCSS color scheme for the billy theme
 *
 * @package Ghost
 * @subpackage Plattan
 * @since Plattan 1.0
 */

$light: #fafaf9 !default;
$dark: #111111 !default;

$color-1: #ef4f47 !default;
$color-2: #75d9c6 !default;