/**
 * SCSS color scheme for the billy theme
 *
 * @package Ghost
 * @subpackage Plattan
 * @since Plattan 1.0
 */

$light: #fafaf9;
$dark: #111111;

$color-1: #F03880;
$color-2: #F4B244;

@import "../style";