<div class="site-footer">
	<div class="footer-text">&copy; Copyright 2013 <a href="/">{{@blog.title}}</a>, all rights reserved. Proudly published with <a href="http://tryghost.org" target="_blank">Ghost</a>.</div>
</div>